@import "./../../../../index.scss";

.admin-form {
  display: flex;
  flex-direction: column;

  width: 100%;

  .inputs-container {
    margin: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    .inputs-section {
      background-color: $background-color;
      border: 1px solid $input-border-color;
      border-radius: 8px;
      padding: 1.5rem;

      .inputs-sectionTitle {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-transform: capitalize;
      }
      .inputs {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(1, 1fr);
        align-items: flex-start;
        @include media(xxs) {
          grid-template-columns: repeat(1, 1fr);
        }
        @include media(xs) {
          grid-template-columns: repeat(1, 1fr);
        }
        @include media(sm) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include media(md) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include media(lg) {
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
        @include media(xl) {
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
        @include media(xxl) {
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
        input,
        textarea,
        select {
          width: 100%;
          box-sizing: border-box;
        }
      }
    }
  }

  .form-input-container {
    display: flex;
    flex-direction: column;
  }

  .child-inputs {
    margin-top: 1em;
  }
}
