@import "./../../../index.scss";
@import "./../../../App.scss";
@import "./../Table.scss";

.table-card {
  display: inline-block;
  padding: 0.5em 1.5em;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  background-color: $input-background-color;
  border-radius: 5px;

  .tc-actions {
  }

  .card-content {
    display: flex;
    flex: 1;

    .card-image-container {
      width: 80px;
      height: 80px;
      overflow: hidden;
      border-radius: 5px;
      .card-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .card-header {
      flex: 2;
      margin: 0 1.5em;
      .card-header-primary {
        font-size: 18px;
        font-weight: 600;
        white-space: nowrap;
      }

      .card-header-secondary {
        font-size: 13px;
      }
    }

    .card-main {
      flex: 1;
    }

    .card-special {
      align-self: center;
      text-align: center;
      .card-special-primary {
        padding: 0.8em;
        border-radius: 30px;
        font-size: 13px;
      }
    }
  }

  .card-footer {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    text-transform: lowercase;
    .card-footer-field {
      font-size: 10px;
      display: flex;
      gap: 0.5em;
      .card-footer-field-label {
        font-weight: 500;
        color: $input-text-color;
      }
      .card-footer-field-value {
      }
    }
  }
}
