@import "./../../../index.scss";
@import "./../../../App.scss";
@import "./../Table.scss";

.table-card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em 1.5em;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  background-color: $input-background-color;
  border-radius: 5px;
  @include media(xxs) {
    padding: 0.5em;
  }
  @include media(xs) {
    padding: 0.3em 1em;
  }
  .tc-actions {
  }

  .card-content {
    display: flex;
    align-items: center;
    gap: 1em;
    overflow: hidden;
    flex: 1;

    .card-image-container {
      width: 80px;
      min-width: 60px;

      height: 80px;
      overflow: hidden;
      border-radius: 5px;
      .card-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .card-content-container {
      flex: 1;
      display: flex;

      align-items: center;
      justify-content: flex-end;
      gap: 1em;
      @include media(xxs) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.5em;
      }
      @include media(xs) {
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 0.5em;
      }
      .card-main {
        .price-div {
          font-size: 13px;
          font-weight: 500;
          background-color: $hover-link-background-color;
          width: fit-content;
          padding: 0.3em;
          border-radius: 30px;
          text-align: center;
          white-space: nowrap;
          @include media(xxs) {
            font-size: 10px;
            padding: 0.8em 0.3em;
            min-width: 60px;
          }
          @include media(xs) {
            font-size: 10px;
            padding: 0.8em 0.3em;
            min-width: 60px;
          }
          .currency {
            font-size: 13px;
            @include media(xxs) {
              padding: 0.8em 0.3em;
              font-size: 9px;
            }
            @include media(xs) {
              padding: 0.8em 0.3em;
              font-size: 9px;
            }
          }
        }
      }

      .card-special {
        text-align: center;
        .card-special-primary {
          padding: 0.8em;
          border-radius: 30px;
          font-size: 12px;
          @include media(xxs) {
            font-size: 9px;
            min-width: 60px;
          }
          @include media(xs) {
            font-size: 9px;
            min-width: 60px;
            padding: 0.8em 0.3em;
          }
        }
      }
    }
    .card-header {
      flex: 1;
      align-self: flex-start;

      .card-header-primary {
        font-size: 16px;
        font-weight: 600;

        @include media(xxs) {
          font-size: 13px;
        }
        @include media(xs) {
          font-size: 13px;
        }
      }

      .card-header-secondary {
        font-size: 13px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @include media(xxs) {
          font-size: 10px;
        }
        @include media(xs) {
          font-size: 10px;
        }
      }
    }
  }

  .card-footer {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    text-transform: lowercase;
    @include media(xxs) {
      justify-content: space-between;
      font-size: 9px;
    }
    @include media(xs) {
      justify-content: space-between;

      font-size: 9px;
    }
    .card-footer-field {
      font-size: 10px;
      display: flex;
      gap: 0.5em;
      .card-footer-field-label {
        font-weight: 500;
        color: $input-text-color;
      }
      .card-footer-field-value {
      }
    }
  }
}
